.OTP-input-container {
  display: grid;
  place-items: center;
  .input-container {
    display: flex;
    gap: 10px;
    .otp-input {
      width: 40px;
      height: 40px;
      text-align: center;
      font-size: 18px;
      padding: 6px;
      border: 1px solid #ccc;
      border-radius: 4px;
      &:focus {
        border-color: #007bff;
        outline: none;
      }
    }
  }
  .verify-btn {
    background-color: #40b6ba;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
  }
}
