.side-bar {
  width: 210px;
  min-height: 100vh;
  background-color: white;
  margin: 5px 0;
  .list {
    list-style: none;
    padding: 0;

    .item {
      cursor: pointer;

      a {
        text-decoration: none;
        color: black;
        padding: 20px 0;
        display: flex;
        align-items: center;
        border-radius: 3px;
        padding-left: 15px;

        span {
          font-weight: 500;
          color: black;
          margin-left: 10px;
        }
      }

      // &:hover {
      //     background-color: rgb(119, 119, 244);
      // }
    }
    .active {
      background-color: rgb(119, 119, 244);
    }
  }
}
