.container-manage-car {
  .content {
    display: flex;
    background-color: #f5f5f5;

    .right {
      width: 100%;
      padding: 20px;

      .top {
        display: flex;
        justify-content: space-between;
        button {
          margin: 20px 30px 0 0;
        }
      }
      .data {
        padding: 30px;
        .table-manage-users {
          width: 100%;
          border-collapse: collapse;

          tbody {
            tr {
              td {
                border: 1px solid black;
                text-align: center;
              }
              img {
                margin: 8px 0;
                object-fit: contain !important;
              }
            }
          }

          thead {
            tr {
              th {
                border: 1px solid black;
                text-align: center;
              }
            }
          }

          .update {
            padding: 6px 25px;
            border-radius: 5px;
            margin: 10px;
          }

          .delete {
            padding: 6px 25px;
            border-radius: 5px;
            margin: 10px;
          }
        }

        .loading {
          font-size: 20px;
          font-weight: 600;
          text-align: center;
        }
      }
    }
  }
}
