.header__container {
  background-color: #f1f1f1;
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 5rem;
  .header__left {
    position: relative;
    flex: 1;
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: 1rem;
    .header__logo {
      margin-right: 1rem;
    }
    .header__left__content {
      width: 16.5rem;
      font-size: 0.88rem;
      color: #000;
      font-weight: 500;
      text-decoration: none;
      white-space: normal;
      overflow-wrap: break-word;
      .title {
        margin: 0;
      }
    }
    .header__left__icon {
      display: flex;
      position: absolute;
      top: 2.7rem;
      left: 29rem;
    }
  }
  li {
    list-style-type: none;
  }
  .menu__icon {
    display: none;
  }
  .event-list {
    flex: 1;
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-size: 0.88rem;
    gap: 1rem;
    .event-item {
      cursor: pointer;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        right: 0;
        bottom: -0.5rem;
        height: 2px;
        width: 0;
        background-color: rgb(36, 116, 229);
        transition: width 0.4s ease;
        transform: translateX(-50%);
      }
      &:hover::after {
        width: 100%;
      }
    }
    .action {
      &:hover::after {
        width: 0;
      }
    }
    .hd-r-support {
      display: flex;
      a {
        text-decoration: none;
        color: #000;
      }
    }
    .btn-hd-r-li {
      height: 2rem;
      width: 5rem;
      padding: 0.8rem;
      border: none;
      background-color: #fff;
      color: #000;
      padding: 0.4rem;
      border-radius: 0.3rem;
      position: relative;
      cursor: pointer;
      .username {
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .hidden {
        display: none;
        width: 10rem;
        background-color: #fff;
        position: absolute;
        top: 2rem;
        right: 0;
        .feat {
          color: #000;
          text-decoration: none;
          .ft-item {
            padding: 0.6rem;
            &:hover {
              background-color: #ccc;
            }
          }
        }
      }
      &:hover .hidden {
        display: block;
      }
    }
  }
  .navbar {
    display: none;
  }
}

@media screen and (max-width: 731px) {
  .header__container {
    max-width: 430.4px;
    .header__logo {
      display: none;
    }
    .header__left {
      max-width: 16.6rem;
      .header__left__content {
        .title {
          display: block;
        }
      }
      .header__left__icon {
        left: 15.6rem;
      }
    }
    .menu__icon {
      display: block;
      width: 2rem;
      margin: 1.5rem 0 0 4rem;
    }
    .event-list {
      display: block;
      .event-item {
        display: none;
      }
      .hd-r-li {
        display: none;
      }
    }
    //
    .nav__list {
      position: fixed;
      z-index: 10;
      top: 0rem;
      left: 0;
      width: 15.6rem;
      height: 100vh;
      padding: 0;
      margin: 0;
      background-color: #fff;
      transition: max-height 0.5s ease, 0.5 ease;
      & .show {
        display: block;
      }
      .nav__item {
        display: flex;
        justify-content: center;
        text-align: center;
        .actions {
          padding: 0;
          text-align: start;
        }
      }
      & > :first-child {
        margin: 1rem 0;
      }

      // & > :not(:first-child) {
      //   margin: 0.5rem 0 0 2rem;
      // }
    }
  }
}
