.header-container {
  height: 5rem;
  max-width: 100vw;
  display: flex;
  justify-content: space-around;
  background: #f1f1f1;
  .header-left {
    flex: 1;
    display: flex;
    justify-items: center;
    align-items: center;
    margin-left: 1rem;
    gap: 1rem;
    position: relative;
    .h-l-content {
      width: 16.5rem;
      font-size: 0.88rem;
      color: #000;
      font-weight: 500;
      text-decoration: none;
      white-space: normal;
      overflow-wrap: break-word;
    }
    .h-l-icon {
      display: flex;
      position: absolute;
      top: 2.5rem;
      left: 29.8rem;
    }
  }
  li {
    list-style-type: none;
  }
  .header-right {
    flex: 1;
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 0.88rem;
    gap: 1rem;
    .hd-r-li-w {
      cursor: pointer;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        left: 50%;
        right: 0;
        bottom: -0.5rem;
        height: 2px;
        width: 0;
        background-color: rgb(36, 116, 229);
        transition: width 0.4s ease;
        transform: translateX(-50%);
      }
      &:hover::after {
        width: 100%;
      }
    }
    .hd-r-support {
      display: flex;
      a {
        text-decoration: none;
        color: #000;
      }
    }
    .btn-hd-r-li {
      height: 2rem;
      width: 5rem;
      padding: 0.8rem;
      border: none;
      background-color: #fff;
      color: #000;
      padding: 0.4rem;
      border-radius: 0.3rem;
      position: relative;
      cursor: pointer;
      .username {
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .hidden {
        display: none;
        width: 10rem;
        background-color: #fff;
        position: absolute;
        top: 2rem;
        right: 0;
        .feat {
          color: #000;
          text-decoration: none;
          .ft-item {
            padding: 0.6rem;
            &:hover {
              background-color: #ccc;
            }
          }
        }
      }
      &:hover .hidden {
        display: block;
      }
    }
  }
}
