.search-container {
  width: 56rem;
  margin-top: 1rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 0.8rem;
  .select__left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    .select-d-d {
      width: 45rem;
      display: flex;
      gap: 1rem;
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 8px;

      .input {
        flex: 1;
        position: relative;
        input {
          width: 100%;
          padding: 0.5rem;
          border-radius: 5px;
          border: none;
          outline: none;
          &:focus {
            border-color: #007bff;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
          }
        }

        .triangle-t {
          height: 0;
          width: 0;
          position: absolute;
          top: -1.1rem;
          left: 46%;
          border-left: 0.6rem solid transparent;
          border-right: 0.6rem solid transparent;
          border-bottom: 0.6rem solid #ccc;
          z-index: 20;
        }
        .triangle-b {
          height: 0;
          width: 0;
          position: absolute;
          top: 2.8rem;
          left: 46%;
          border-top: 0.6rem solid #ccc;
          border-left: 0.6rem solid transparent;
          border-right: 0.6rem solid transparent;
          z-index: 20;
        }
        .location {
          position: absolute;
          // top: calc(100% + 0.5rem); // Hiển thị ngay dưới input
          top: -21.1rem; //Hiển thị trên input
          left: 0;
          background: white;
          border: 1px solid #ccc;
          border-radius: 5px;
          max-height: 20rem;
          overflow-y: auto;
          width: 100%;
          pointer-events: auto;
          z-index: 10;
          padding: 0.5rem 0;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

          &::-webkit-scrollbar {
            display: none; // Ẩn thanh cuộn trên Chrome, Safari, Edge
          }

          li {
            padding: 0.5rem 1rem;
            cursor: pointer;
            list-style: none;
            white-space: nowrap; // Không xuống dòng

            &:hover {
              background-color: #f1f1f1;
            }
          }

          > div {
            padding: 0.5rem 1rem;
            font-weight: bold;
            color: #555;
          }
        }
      }

      .select-date {
        flex: 1;
        input[type='date'] {
          width: 100%;
          padding: 0.5rem;
          border: none;
          &:focus {
            border-color: #007bff;
            box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
          }
        }
      }
    }

    .search-btn {
      width: 7rem;
      button {
        width: 7.4rem;
        padding: 1rem 1rem;
        background-color: #007bff;
        border: none;
        color: white;
        border-radius: 0.6rem;
        cursor: pointer;
        font-size: 1rem;
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
}

@media screen and (max-width: 731px) {
  .search-container {
    display: grid;
    place-items: center;
    max-width: 430.4px;
    background-color: #ebe4db;
    padding: 0;
    margin: 2rem 0;
    .input__select {
      border-radius: 1rem;
      background-color: #fff;
      .select__left {
        display: block;
        .select-d-d {
          display: block;
          width: 20rem;
          border: none;
          border-bottom: 0.1rem solid #ccc;
        }
        .search-btn {
          margin: 1rem auto;
        }
      }
    }
  }
}
