@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  /* background: linear-gradient(to right, #66a2e2, #38b6ff); */
  background-color: #ebe4db;
  width: var(--client-width);
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
